<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.SC.QA.NewUserRegistration.TestCases.ProductCountTest"/>
      <class name="com.SC.QA.NewUserRegistration.TestCases.ProductPurchaseTest"/>
      <class name="com.SC.QA.NewUserRegistration.TestCases.SIgnUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
